In [1]:
datafile = "titanicdata.htm"

In [2]:
from bs4 import BeautifulSoup
with open(datafile,"r",encoding="Latin-1") as f:
    soup = BeautifulSoup(f,"html.parser")

In [3]:
table = soup.find('table')

In [4]:
import pandas as pd
data = data = pd.read_html(str(table).encode('ascii', errors='replace'), flavor='bs4')[0]

In [5]:
data.head()

,Name,Age,Class/Dept,Ticket,Joined,Job,Boat [Body],Unnamed: 7
0,"AB??-AL-MUN??, Mr N??s??f Q??sim",27,3rd Class Passenger,2699?18 15s 9d,Cherbourg,?,15?,NaN
1,"ABBING, Mr Anthony",42,3rd Class Passenger,5547?7 11s,Southampton,Blacksmith ?,??,NaN
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39,3rd Class Passenger,CA2673?20 5s,Southampton,?,A?,NaN
3,"ABBOTT, Mr Rossmore Edward",16,3rd Class Passenger,CA2673?20 5s,Southampton,Jeweller ?,?[190],NaN
4,"ABBOTT, Mr Eugene Joseph",13,3rd Class Passenger,CA2673?20 5s,Southampton,Scholar ?,??,NaN

In [6]:
def cleanup(value):
    return value.replace("?", " ")

data['Name']= data['Name'].apply(cleanup)
data['Boat [Body]']= data['Boat [Body]'].apply(cleanup)
data['Age'] = data['Age'].apply(pd.to_numeric, errors='coerce')
data = data[["Name","Age","Class/Dept","Boat [Body]"]]

data.head()

                               Name   Age           Class/Dept Boat [Body]
0  AB  -AL-MUN  , Mr N  s  f Q  sim  27.0  3rd Class Passenger         15
1                ABBING, Mr Anthony  42.0  3rd Class Passenger
2     ABBOTT, Mrs Rhoda Mary 'Rosa'  39.0  3rd Class Passenger          A
3        ABBOTT, Mr Rossmore Edward  16.0  3rd Class Passenger       [190]
4          ABBOTT, Mr Eugene Joseph  13.0  3rd Class Passenger

In [7]:
def checkPass(class_type):
    if "Passenger" in class_type:
        return "Passenger"
    else:
        return "Crew"
    
data["Crew/Pass"]=data["Class/Dept"].apply(checkPass)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger

In [8]:
def checkClass(class_type):
    if "Passenger" in class_type:
        return class_type.split(" ")[0]
    else:
        return "Crew"
    
data["Class"]=data["Class/Dept"].apply(checkClass)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass,Class
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger,3rd
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger,3rd
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger,3rd
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger,3rd
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger,3rd

In [9]:
def checkAdult(age):
    if age>=18:
        return "Adult"
    else:
        return "Child"
    
data["Adult/Child"]=data["Age"].apply(checkAdult)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass,Class,Adult/Child
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger,3rd,Adult
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger,3rd,Adult
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger,3rd,Adult
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger,3rd,Child
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger,3rd,Child

In [10]:
def checkGender(name):
    firstname = name[name.index(",")+2:]
    salutation = firstname.split(" ")[0]
    if salutation in ["Mr","Master"]:
        return "Male"
    else:
        return "Female"

In [11]:
data["Gender"]=data["Name"].apply(checkGender)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass,Class,Adult/Child,Gender
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger,3rd,Adult,Male
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger,3rd,Adult,Male
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger,3rd,Adult,Female
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger,3rd,Child,Male
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger,3rd,Child,Male

In [12]:
def checkSurvival(boat):
    if boat.strip()=="" or "[" in boat:
        return 0
    else:
        return 1
data["Survival"]=data["Boat [Body]"].apply(checkSurvival)
data.head()

,Name,Age,Class/Dept,Boat [Body],Crew/Pass,Class,Adult/Child,Gender,Survival
0,"AB -AL-MUN , Mr N s f Q sim",27.0,3rd Class Passenger,15,Passenger,3rd,Adult,Male,1
1,"ABBING, Mr Anthony",42.0,3rd Class Passenger,,Passenger,3rd,Adult,Male,0
2,"ABBOTT, Mrs Rhoda Mary 'Rosa'",39.0,3rd Class Passenger,A,Passenger,3rd,Adult,Female,1
3,"ABBOTT, Mr Rossmore Edward",16.0,3rd Class Passenger,[190],Passenger,3rd,Child,Male,0
4,"ABBOTT, Mr Eugene Joseph",13.0,3rd Class Passenger,,Passenger,3rd,Child,Male,0

In [13]:
data.groupby(['Crew/Pass'])['Survival'].sum()*100/data.groupby(['Crew/Pass'])['Survival'].count()

Crew/Pass
Crew         13.586957
Passenger    35.798817
Name: Survival, dtype: float64

In [14]:
def compare(group,data):
    return data.groupby([group])['Survival'].sum()*100/data.groupby([group])['Survival'].count()

compare("Class",data)

Class
1st     57.428571
2nd     37.883959
3rd     24.259520
Crew    13.586957
Name: Survival, dtype: float64

In [15]:
compare("Gender",data)

Gender
Female    59.272097
Male      15.540181
Name: Survival, dtype: float64

In [16]:
compare("Adult/Child",data)

Adult/Child
Adult    25.078370
Child    33.183857
Name: Survival, dtype: float64

In [17]:
trainingData=data[["Age","Crew/Pass","Class","Adult/Child","Gender","Survival"]]
trainingData.head()

    Age  Crew/Pass Class Adult/Child  Gender  Survival
0  27.0  Passenger   3rd       Adult    Male         1
1  42.0  Passenger   3rd       Adult    Male         0
2  39.0  Passenger   3rd       Adult  Female         1
3  16.0  Passenger   3rd       Child    Male         0
4  13.0  Passenger   3rd       Child    Male         0

In [18]:
def catToNum(series):
    series = series.astype('category')
    return series.cat.codes

catData=trainingData[["Crew/Pass","Class","Adult/Child","Gender"]].apply(catToNum)
trainingData[["Crew/Pass","Class","Adult/Child","Gender"]]=catData
trainingData.head()

C:\Users\Sayan\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

    Age  Crew/Pass  Class  Adult/Child  Gender  Survival
0  27.0          1      2            0       1         1
1  42.0          1      2            0       1         0
2  39.0          1      2            0       0         1
3  16.0          1      2            1       1         0
4  13.0          1      2            1       1         0

In [19]:
len(trainingData)

2456

In [20]:
trainingData = trainingData.dropna()
len(trainingData)

2426

In [21]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(trainingData, test_size = 0.2)

In [25]:
train.head()

       Age  Crew/Pass  Class  Adult/Child  Gender  Survival
22    25.0          1      2            0       1         0
1028  51.0          1      0            0       0         1
390   45.0          1      1            0       0         0
281   29.0          1      2            0       1         0
1932  36.0          1      0            0       1         0

In [26]:
test.head()

       Age  Crew/Pass  Class  Adult/Child  Gender  Survival
1946  22.0          1      1            0       0         1
651   28.0          1      2            0       0         0
2177  74.0          1      2            0       1         0
41    33.0          1      2            0       1         0
1918  31.0          1      0            0       1         0

In [27]:
len(train)

1940

In [28]:
len(test)

486

In [50]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier(criterion='entropy',max_depth=2)
clf=clf.fit(train[["Age","Crew/Pass","Class","Adult/Child","Gender"]],train["Survival"])

In [51]:
clf

DecisionTreeClassifier(criterion='entropy', max_depth=2)

In [52]:
clf.feature_importances_

array([0.06674094, 0.        , 0.20285915, 0.        , 0.73039991])

In [53]:
from sklearn import tree
with open("titanic.dot","w") as f:
    f = tree.export_graphviz(clf,
                            feature_names=["Age","Crew/Pass","Class","Adult/Child","Gender"],out_file=f)

In [54]:
predictions = clf.predict(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

In [55]:
test[["Age","Crew/Pass","Class","Adult/Child","Gender"]].head()

       Age  Crew/Pass  Class  Adult/Child  Gender
697   39.0          1      0            0       0
1431  22.0          1      2            0       1
1002  30.0          1      1            0       1
1072  34.0          1      1            0       1
1844  27.0          1      1            0       1

In [56]:
clf.predict(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0], dtype=int64)

In [57]:
clf.predict_proba(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

array([[0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.65034965, 0.34965035],
       [0.65034965, 0.34965035],
       [0.61160714, 0.38839286],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.15384615, 0.84615385],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.65034965, 0.34965035],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.61160714, 0.38839286],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.15384615, 0.84615385],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.65034965, 0.34965035],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.65034965, 0.34965035],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.15384615, 0.84615385],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286],
       [0.85576923, 0.14423077],
       [0.85576923, 0.14423077],
       [0.61160714, 0.38839286]])

In [48]:
from sklearn.neighbors import KNeighborsClassifier
clf=KNeighborsClassifier(n_neighbors=5)
clf=clf.fit(train[["Age","Crew/Pass","Class","Adult/Child","Gender"]],train["Survival"])

In [49]:
clf.predict_proba(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

array([[0. , 1. ],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [0.4, 0.6],
       [0.4, 0.6],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.6, 0.4],
       [0.6, 0.4],
       [0.4, 0.6],
       [1. , 0. ],
       [0.6, 0.4],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [1. , 0. ],
       [1. , 0. ],
       [0.2, 0.8],
       [0. , 1. ],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.2, 0.8],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.2, 0.8],
       [0.4, 0.6],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.2, 0.8],
       [1. , 0. ],
       [1. , 0. ],
       [0.4, 0.6],
       [0.2, 0.8],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.4, 0.6],
       [1. , 0. ],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.2, 0.8],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0.2, 0.8],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.2, 0.8],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0. , 1. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0.2, 0.8],
       [0.6, 0.4],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0.2, 0.8],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [0. , 1. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.4, 0.6],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.6, 0.4],
       [0.2, 0.8],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0.6, 0.4],
       [1. , 0. ],
       [0.2, 0.8],
       [1. , 0. ],
       [0.6, 0.4],
       [1. , 0. ],
       [0.4, 0.6],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.2, 0.8],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.2, 0.8],
       [0.8, 0.2],
       [0.2, 0.8],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.2, 0.8],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.4, 0.6],
       [1. , 0. ],
       [0.4, 0.6],
       [0. , 1. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [0. , 1. ],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.2, 0.8],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.2, 0.8],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.2, 0.8],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0.2, 0.8],
       [0.2, 0.8],
       [0.6, 0.4],
       [0. , 1. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0. , 1. ],
       [0.8, 0.2],
       [0. , 1. ],
       [0.4, 0.6],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.4, 0.6],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.2, 0.8],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0.2, 0.8],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.6, 0.4],
       [1. , 0. ],
       [1. , 0. ],
       [0.2, 0.8],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.6, 0.4],
       [1. , 0. ],
       [0.4, 0.6],
       [0. , 1. ],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [0. , 1. ],
       [0.8, 0.2],
       [0.4, 0.6],
       [1. , 0. ],
       [0.6, 0.4],
       [0.2, 0.8],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.4, 0.6],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0.4, 0.6],
       [0.4, 0.6],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0. , 1. ],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [0.4, 0.6],
       [0.6, 0.4],
       [0.6, 0.4],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [1. , 0. ],
       [0.4, 0.6],
       [0.8, 0.2],
       [0.2, 0.8],
       [0.6, 0.4],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0. , 1. ],
       [0.6, 0.4],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.4, 0.6],
       [1. , 0. ],
       [0.8, 0.2],
       [0. , 1. ],
       [0.4, 0.6],
       [0.2, 0.8],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.6, 0.4],
       [0.4, 0.6],
       [0.6, 0.4],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.2, 0.8],
       [0.4, 0.6],
       [1. , 0. ],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.8, 0.2],
       [0. , 1. ],
       [1. , 0. ],
       [0.6, 0.4],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [0.4, 0.6],
       [0.8, 0.2],
       [0.4, 0.6],
       [0. , 1. ],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0. , 1. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.6, 0.4],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0.6, 0.4],
       [0.8, 0.2],
       [1. , 0. ],
       [0.4, 0.6],
       [0.4, 0.6],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.2, 0.8],
       [0.8, 0.2],
       [0.2, 0.8],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.6, 0.4],
       [1. , 0. ],
       [0.8, 0.2],
       [1. , 0. ],
       [0.4, 0.6],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [0. , 1. ],
       [1. , 0. ],
       [0.4, 0.6],
       [0.4, 0.6],
       [0.8, 0.2],
       [1. , 0. ],
       [0.8, 0.2],
       [0.6, 0.4],
       [0.8, 0.2],
       [0.4, 0.6],
       [0.6, 0.4],
       [0.4, 0.6],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.8, 0.2],
       [0.6, 0.4],
       [0. , 1. ],
       [0.4, 0.6],
       [0.6, 0.4],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [0.2, 0.8],
       [1. , 0. ],
       [0.6, 0.4],
       [1. , 0. ],
       [0.4, 0.6],
       [0.8, 0.2],
       [0.8, 0.2],
       [1. , 0. ],
       [1. , 0. ],
       [0.6, 0.4],
       [1. , 0. ],
       [1. , 0. ],
       [1. , 0. ],
       [0.8, 0.2],
       [0.2, 0.8]])

In [50]:
clf.predict(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])

array([1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1], dtype=int64)

In [51]:
from sklearn.metrics import accuracy_score
accuracy_score(test["Survival"], predictions)

0.8189300411522634

In [52]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=1000,max_leaf_nodes=15)

In [38]:
clf

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=15,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [39]:
def checkAccuracy(clf):
    clf=clf.fit(train[["Age","Crew/Pass","Class","Adult/Child","Gender"]],train["Survival"])
    predictions = clf.predict(test[["Age","Crew/Pass","Class","Adult/Child","Gender"]])
    return accuracy_score(test["Survival"], predictions)

In [40]:
checkAccuracy(clf)

0.7880658436213992

In [41]:
#There are known issues while installing xgboost on windows. Hence, commented the below code

In [42]:
#from xgboost.sklearn import XGBClassifier

In [43]:
#clf = XGBClassifier(n_estimators=1000)

In [44]:
#checkAccuracy(clf)

In [45]:
#clf

In [46]:
from hyperopt import fmin, tpe, hp, STATUS_OK,Trials

In [47]:
space ={
    'n_estimators':hp.quniform('n_estimators',100,1000,1),
    'max_depth':hp.quniform('max_depth',1,13,1),
    'max_leaf_nodes': hp.quniform('max_leaf_nodes',5,100,1),
    'min_samples_split': hp.quniform('min_samples_split',2,100,1)
}

In [48]:
def score(params):
    params['n_estimators']=int(params['n_estimators'])
    params['min_samples_split']=int(params['min_samples_split'])
    params['max_leaf_nodes']=int(params['max_leaf_nodes'])
    clf = RandomForestClassifier(**params)
    return {'loss':1-checkAccuracy(clf),'status':STATUS_OK}

In [49]:
trials=Trials()

In [50]:
best=fmin(score,space,algo=tpe.suggest,trials=trials,max_evals=250)

In [51]:
print(best)

{'max_depth': 4.0, 'max_leaf_nodes': 19.0, 'min_samples_split': 75.0, 'n_estimators': 720.0}

In [52]:
1-score(best)['loss']

0.7901234567901234